# ── Entra ID credentials ──────────────────────────────────────────────────────
export TENANT_ID="5xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxb"
export CLIENT_ID="dxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx9"
export CLIENT_SECRET="cxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxe"

# ── API scope (do not change unless you renamed it) ───────────────────────────
export API_APP_ID_URI="api://dxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx9"
 
# ── Target (backend URL reachable from inside Docker) ─────────────────────────
export TARGET="http://host.docker.internal:4000"
export TARGET_LOCAL="http://$(cat /etc/resolv.conf | grep nameserver | awk '{print $2}'):4000"

## this is for local development, it will be used when running the app without Docker